<tr>
  <td><%= agent.id %></td>
  <td><%= agent.uuid %></td>
  <td><%= agent.full_name %></td>
  <td><%= agent.nationality %></td>
  <td><%= agent.licence_duration %></td>
  <td><%= agent.titleized_agency %></td>
</tr>
