<tr>
  <td><%= agent.id %></td>
  <td><%= agent.uuid %></td>
  <td><%= agent.full_name %></td>
  <td><%= agent.nationality %></td>
  <td><%= agent.licence_duration %></td>
  <td><%= link_to_if agent.agency.present?, agent.agency, agents_path(filter: { agency: agent.agency }) %></td>
</tr>
