<!DOCTYPE html>
<html>
<head>
  <title>Reagents</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
<header>
<h1>ReAgents</h1>
<nav>
  <%= active_link_to "Home", root_path %>
  <%= active_link_to "All Agents", agents_path %>
  <%= active_link_to "Agents Without Agencies", without_agency_agents_path %>
  <%= active_link_to "All Agencies", agencies_path %>
  <%= active_link_to "D.O.O. Agencies", doo_agencies_path %>
  <%= active_link_to "S.P. Agencies", sp_agencies_path %>
</nav>
</header>
<%= yield %>
</body>
</html>
